.task {
    position: absolute;
    width: 100%;
    background-color: #4caf50;
    color: white;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
    font-size: 12px;
    cursor: pointer;
}

.task-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 5px;
}

.task-duration {
    margin-left: auto;
    padding-right: 5px;
    font-weight: bold;
    font-size: 12px;
}

.task-edit {
    display: flex;
    gap: 5px;
    align-items: center;
}

.edit-button,
.save-button,
.delete-button {
    background-color: #ff9800;
    border: none;
    color: white;
    font-size: 10px;
    padding: 2px 5px;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button {
    background-color: #ff4d4f;
}

.task {
    transition: background-color 0.2s;
}

.task.dragging, .task.resizing {
    background-color: #4caf50; /* Andere Farbe beim Interagieren */
    opacity: 0.8;
}
